<div class="modal fade" id="customer_sales" tabindex="-1" aria-labelledby="customer_sales" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Compras cliente</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="customer_sales_data">
        Loading...
      </div>  
    </div>
  </div>
</div>